
body {
    font: 10px sans-serif;
}
.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

.brick.strek, .brick.kop, .brick.klisklezoor {
    fill: #C16D57;
}

.brick.kop-uitstekend {
    fill: #7c3320;
}

.plot {
    stroke: purple;
    fill: none;
}

